h1 New Book
    form(method='POST' action='/books')
        p Name:
          input#title(type='text' name='title')
        p Email:
          input#description(type='text', name='description')
        p Phone:
          input#author(type='text', name='author')
        p: button(type='submit') Create