h1 New Book
    form(method='POST' action='/books')
        p Title:
          input#title(type='text' name='title')
        p Description:
          input#description(type='text', name='description')
        p Author:
          input#author(type='text', name='author')
        p: button(type='submit') Create